@tailwind base;
@tailwind components;
@tailwind utilities;

html {

  --background-image: url("/bg.jpg");
  background-image: var(--background-image);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: #ffc6d7fc;
  height: 100%;
}

body {
  height: 100%;
}
