@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image: url("/illust_111261733_20231222_212212.jpg");

  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  height: 100%;
}
