@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --background-image: url("/illust_111261733_20231222_212212.jpg");
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: rgb(255, 255, 255);
  height: 100%;
}

body {
  height: 100%;
}
